body{
    background-image: linear-gradient(to right,rgb(44, 2, 2),brown);
}

*
{
margin-top:0px;
padding: 0;
box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;

}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  
    color: black;

}
.logo{
	padding-top: 20px;
}
.nav-links{
    display: flex;
    align-items: center;
    background-color: rgb(141, 236, 128);
    width: 100%;
    height: 80px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    


}
.nav-links li{
    margin:0 30px;
}

.heading{
	text-align:center;
	font-family: 'Arial, Helvetica',cursive;
	font-size:40px;
    color: white;
	padding-top: 100px;
}

.sub{
	color: white;
	font-size: 30px;
	margin-left: 10px;

}
.col{
	float:left;
	width:50%;

}
.row{
	float: right;
	padding-right: 200px;
	padding-top: 40px;
}
.input-box{
	text-align:left;
	font-size:20px;
	height:40px;
	outline-style:10px solid black;
	margin-bottom:20px;
	background-color:rgb(242, 250, 169);
	
}
.button{
	font-size:30px;
	padding-right:30px;
	background-color:rgb(115, 248, 148);
}
.btn{
	text-align: center;
	
}
h4{
	font-size: 20px;
	color: white;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    
}
/*mobile device*/
@media  screen and (max-width:840px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position:absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: lightgreen;
        margin-top: -900px;
        transition: all 0.5s ease;

    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    
    }
    
    .nav-links li{
        margin: 30px auto;
    }
    .sub{
        flex-direction: column;
    }
    
    .row .f1{
		flex-direction: column;
	}
    
}
